@media screen and (min-width: 320px) {
  section {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;   
    font-size: 20%;
  }
  header {
    width: 100%;
  }
  
  img {
    width: 100%;  
  }
  .index {
    margin: 2%;
    padding: 2%;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
  }
  section{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 70%;
  }
  img {
    width: 100%;  
  }
  .index {
    margin: 2% ;
    padding: 2%;
  }
}

@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }
 section {
   width: 90%;
   margin-left: 5%;
    margin-right: 5%;
    font-size: 100%;
 }
 img {
  width: 100%;  
 }
 .index {
  margin: 2%;
  padding: 2%;
}
footer {
  width: 100%;
}
}
